$color: #ffbf26
$err : #ff5e0e
.main-form
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 90vh
  .inputs
    width: 300px
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    .fileInput-container
      display: flex
      justify-content: center
      align-content: center
      color: rgba(0,0,0,0)
      .fileInput
        margin-bottom: -5px
        padding-top: 5px
        width: 135px
        border: 0
    .errors
      display: flex
      justify-content: center
      align-items: center
      font-size: 18px
      color: $err
      height: 8px
      margin-bottom: 5px
    input
      height: 30px
      border-radius: 5px
      border: 2px solid $color
      margin-bottom: 10px
      outline: none
      padding-left: 8px
      font-size: 15px
    button
      font-size: 16px
      background-color: $color
      border: 1px solid wheat
      border-radius: 10px
      margin: 5px auto
      height: 40px
      width: 60%
      outline: none
      cursor: pointer
  .spans
    width: 250px
    display: flex
    justify-content: space-around
    align-items: center
    height: 30px
    margin-bottom: 20px
    span
      font-size: 20px
      cursor: pointer
      color: $color
      user-select: none
      text-shadow: 1px 1px 1px $color
  .delete-block
    display: flex
    .delete-button
      display: flex
      justify-content: center
      align-items: center
      background-color: #ff5458
      width: 50px
      height: 50px
      border-radius: 50px
      border: 0
      outline: none
      cursor: pointer
    .delete-button:last-child
      background-color: #ff5e0e
      margin-left: 5px
.remove-button
  display: flex
  justify-content: center
  align-items: center
  background-color: #93ff87
  width: 50px
  height: 50px
  border-radius: 50px
  border: 0
  outline: none
  cursor: pointer
  margin: 0 auto






